@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    layui.use(['jquery', 'form', 'laydate', 'commonTable', 'table', 'common', 'optimizeSelectOption'], function () {
        var form = layui.form,
            $ = layui.$,
            laydate = layui.laydate,
            table = layui.table,
            commonTable = layui.commonTable,
            common = layui.common;
        var keyValue = $.request("keyValue");
        //权限字段
        common.authorizeFields('adminform');
        //执行一个laydate实例
        laydate.render({
            elem: '#F_PlanStartTime'
            , trigger: 'click'
            , type: 'datetime'
            , format: 'yyyy/MM/dd HH:mm:ss',
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#F_PlanEndTime'
            , trigger: 'click'
            , type: 'datetime'
            , format: 'yyyy/MM/dd HH:mm:ss',
        });
        $(function () {
            if (!!keyValue) {
                common.ajax({
                    url: '/ProcessManage/WorkOrderRun/GetFormJson',
                    dataType: 'json',
                    data: { keyValue: keyValue },
                    async: false,
                    success: function (data) {
                        common.val('adminform', data);
                        common.setReadOnly('adminform');
                        if (!!data.list && data.list.length > 0) {
                            table.reload('currentTableId', {
                                data: data.list
                            });
                        }
                    }
                });
            }
            form.render();
        });
        wcLoading.close();
        commonTable.rendertable({
            elem: '#currentTableId',
            data: [],
            defaultToolbar: [],
            toolbar: false,//工具栏
            search: false,
            limit: 9999,//每页数据 默认
            page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['count'] //自定义分页布局
                , first: false //不显示首页
                , last: false //不显示尾页
            },
            height: 'full-210',
            filter: {
                clearFilter: false,
            },
            cols: [[
                { field: 'F_TransferBoxCode', title: '流转箱编号', width: 170, sort: true, filter: true },
                { field: 'F_LocationCode', title: '库位编号', width: 120, sort: true, filter: true },
                {
                    field: 'F_MaterialType', title: '料号分类', width: 110, sort: true, filter: true,
                    templet: function (d) {
                        return top.clients.dataItems["Mes_MaterialType"][d.F_MaterialType] == null ? "" : top.clients.dataItems["Mes_MaterialType"][d.F_MaterialType];
                    }
                },
                { field: 'F_MaterialCode', title: '料号编号', width: 170, sort: true, filter: true },
                { field: 'F_MaterialName', title: '料号名称', width: 200, sort: true, filter: true },
                { field: 'F_MaterialUnit', title: '料号单位', width: 110, sort: true, filter: true },
                { field: 'F_MaterialBatch', title: '批号', width: 180, sort: true, filter: true },
                { field: 'F_Num', title: '数量', width: 90, sort: true, filter: true },
                { field: 'F_WorkOrderRunSort', title: '执行顺序', width: 110, sort: true, filter: true },
                { field: 'F_BandingUserName', title: '产出人', width: 95, sort: true, filter: true },
                {
                    field: 'F_BandingTime', title: '产出时间', width: 160, sort: true, filter: { type: 'date[yyyy/MM/dd HH:mm:ss]' }
                },
                { field: 'F_CreatorUserName', title: '上架人', width: 95, sort: true, filter: true },
                {
                    field: 'F_CreatorTime', title: '上架时间', width: 160, sort: true, filter: { type: 'date[yyyy/MM/dd HH:mm:ss]' }
                },
                { field: 'F_Description', title: '备注', minWidth: 120, sort: true, filter: true },

            ]]
        });
    });
</script>

<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <div class="layui-form layuimini-form" lay-filter="adminform">
                <div class="layui-form-item">
                    <div class="layui-col-md4 layui-col-sm4 layui-hide">
                        <label class="layui-form-label">工单编号</label>
                        <div class="layui-input-block">
                            <input type="text" id="F_WorkOrderCode" name="F_WorkOrderCode" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-col-md4 layui-col-sm4 layui-hide">
                        <label class="layui-form-label">工单状态</label>
                        <div class="layui-input-block">
                            <input type="text" id="F_WorkOrderState" name="F_WorkOrderState" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-col-md4 layui-col-sm4 layui-hide">
                        <label class="layui-form-label">物料名称</label>
                        <div class="layui-input-block">
                            <input id="F_MaterialName" name="F_MaterialName" type="text" class="layui-input" />
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-col-md4 layui-col-sm4 layui-hide">
                        <label class="layui-form-label">设备名称</label>
                        <div class="layui-input-block">
                            <input type="text" id="F_EqpName" name="F_EqpName" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-col-md4 layui-col-sm4 layui-hide">
                        <label class="layui-form-label">工序名称</label>
                        <div class="layui-input-block">
                            <input type="text" id="F_ProcessName" name="F_ProcessName" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-col-md4 layui-col-sm4 layui-hide">
                        <label class="layui-form-label">计划数量</label>
                        <div class="layui-input-block">
                            <input type="number" pattern="[0-9]*" id="F_PlanNum" name="F_PlanNum" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-col-md4 layui-col-sm4 layui-hide">
                        <label class="layui-form-label">完成数量</label>
                        <div class="layui-input-block">
                            <input type="number" pattern="[0-9]*" id="F_DoneNum" name="F_DoneNum" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-col-md4 layui-col-sm4 layui-hide">
                        <label class="layui-form-label">不良数量</label>
                        <div class="layui-input-block">
                            <input type="number" pattern="[0-9]*" id="F_BadNum" name="F_BadNum" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-col-md4 layui-col-sm4 layui-hide">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <input type="text" id="F_Description" name="F_Description" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-col-md12">
                            <label class="layui-form-label">记录列表</label>
                            <div class="layui-input-block">
                                <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

